# Required
POSTGRES_PASSWORD=your_db_password
POSTGRES_USER=your_db_user
POSTGRES_DB=your_db_name
REPO1_S3_ENDPOINT=your.s3.endpoint
REPO1_S3_BUCKET=your-bucket-name
REPO1_S3_KEY=your-access-key
REPO1_S3_KEY_SECRET=your-secret-key

# Optional (with defaults)
POSTGRES_IMAGE=postgres:15-bookworm
PGBACKREST_STANZA=database
PGBR_FULLCRON=0 3 * * 0
PGBR_INCRCRON=0 3 * * 1-6
PGBACKREST_RETENTION=1
